*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Pretendard",sans-serif;
}

body{
    background:#f7f3eb;
}

.main-page{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:70px;
    padding:40px;
}

/* 왼쪽 */

.main-left{
    width:380px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-image{
    width:100%;
    max-width:360px;
}

/* 오른쪽 */

.main-right{
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-card{
    width:650px;
    background:white;
    border-radius:35px;
    padding:45px;
    box-shadow:0 20px 45px rgba(0,0,0,.08);
}

/* 제목 */

.logo{
    font-size:54px;
    color:#6b4c2b;
    text-align:center;
}

.sub-title{
    text-align:center;
    color:#888;
    margin-top:10px;
    margin-bottom:30px;
    font-size:20px;
}

/* 환영박스 */

.welcome-box{
    background:#fff8ea;
    border:1px solid #f2deab;
    border-radius:18px;
    padding:18px;
    text-align:center;
    margin-bottom:30px;
}

.welcome-box h2{
    color:#6b4c2b;
    margin-bottom:8px;
}

.welcome-box p{
    color:#888;
}

/* 메뉴 */

.menu-item{
    display:flex;
    align-items:center;
    gap:20px;
    background:white;
    border:2px solid #f3e1ba;
    border-radius:20px;
    padding:25px;
    margin-bottom:20px;
    cursor:pointer;
    transition:0.25s;
}

.menu-item:hover{
    background:#fff8ea;
    border:2px solid #c89d41;
    transform:translateY(-5px);
    box-shadow:0 12px 30px rgba(0,0,0,.12);
}

.menu-item:active{
    transform:scale(0.98);
}

.menu-icon{
    font-size:60px;
    width:70px;
    text-align:center;
}

.menu-text{
    flex:1;
}

.menu-text h3{
    font-size:27px;
    color:#6b4c2b;
    margin-bottom:8px;
}

.menu-text p{
    color:#888;
    font-size:16px;
}

.arrow{
    font-size:38px;
    color:#c89d41;
    font-weight:bold;
    transition:.2s;
}

.menu-item:hover .arrow{
    transform:translateX(8px);
}

/* 로그아웃 */

.logout{
    background:#8b6f47;
    border:none;
}

.logout .menu-text h3,
.logout .menu-text p,
.logout .arrow{
    color:white;
}

.logout:hover{
    background:#6d5637;
}

/* 반응형 */

@media(max-width:1100px){

    .main-page{
        flex-direction:column;
    }

    .main-left{
        width:100%;
    }

    .main-image{
        max-width:240px;
    }

    .main-card{
        width:100%;
        max-width:700px;
    }

}