* {
  box-sizing: border-box;
}


/* =========================
   홈 버튼
========================= */

.home-button {
  position: fixed;

  top: 20px;
  left: 20px;

  width: 56px;
  height: 56px;

  border: 1px solid #eadfce;

  border-radius: 16px;

  background: #fff8ea;

  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 30px;

  cursor: pointer;

  z-index: 1000;

  box-shadow:
    0 4px 12px rgba(100, 75, 45, 0.08);

  transition: 0.2s;
}


.home-button:hover {
  background: #ffe9b5;

  transform: translateY(-2px);
}